results/
logs/
runs/
.snakemake/

/input-data/
/outputs/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

*.root
*.parquet
*.h5
*.hdf5
*.npz
*.npy
*.pkl
*.pickle

.DS_Store
